# didn't know
34,
38,
39,
(40 how i can sort it by value),
55

**1-Write a Python program to calculate the length of a string using 2 ways

In [5]:
name= input()
print(len(name))

counter=0
for ch in name:
    counter+=1
print(counter)

ahmed
5
5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [30]:
name=input()
if len(name)>=2:
    print(name[:2]+name[-2:])
else:
    print("")

d

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')**

In [9]:
name=input()
if len(name)>=3:
    if name[-3:]=='ing':
        print(name[:-3]+"ly")
    else:
        print(name+'ing')
else:
    print(name)

ahmedg
ahmedging

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [31]:
def longest(l):
    longword=''
    for word in l:
        if len(word)>len(longword):
            longword=word
    print('longest word is: ',longword)
    print('length: ',len(longword))

In [32]:
l=['h','ho','how','how are you']
longest(l)

longest word is:  how are you
length:  11

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [33]:
name=input()
print(name[-1]+name[1:-1]+name[0])

ahmed
dhmea

In [34]:
name=input()
a=name[0]
b=name[-1]
b+name[1:-1]+a

ahmed

'dhmea'

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [36]:
name=input()
name[::2]

abcadg

'acd'

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [41]:
string='hi my name is mohamed, that is my noteboo'
words=string.split()
for i in words:
    print(i,string.count(i))

hi 1
my 2
name 1
is 2
mohamed, 1
that 1
is 2
my 2
noteboo 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [37]:
name=input()
print(name.upper())
print(name.lower())

hi
HI
hi

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [39]:
name=input()
if len(name)%4==0:
    print(name[::-1])
else:
    print(name)

koki
ikok

**10- Write a Python program to remove a newline in Python

In [3]:
string='''how
are
you?
'''
string

'how\nare\nyou?\n'

In [4]:
string=string.replace('\n','')
string

'howareyou?'

**11-Write a Python program to check whether a string starts with specified characters

In [17]:
specific=['a','b','c']
name=input()
if name[0] in specific:
    print('yes')
else:
    print('no')

car
yes

**12- Write a Python program to add prefix text to all of the lines in a string

In [12]:
lines='''ahmed
mohamed
ali
'''
lines=lines.splitlines()

In [13]:
for i in range(len(lines)):
    lines[i]='mr. '+lines[i]
lines

['mr. ahmed', 'mr. mohamed', 'mr. ali']

**13-Write a Python program to print the following numbers up to 2 decimal places

In [18]:
number=2.3553
round(number,2)

2.36

In [20]:
print(str(number)[:4])

2.35

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [21]:
number=-2.3553
round(number,2)

-2.36

**15-Write a Python program to display a number with a comma separator

In [22]:
number=2.3
newnum=str(number)
newnum.replace('.',',')
newnum

'2.3'

**16-Write a Python program to reverse a string using 2 ways

In [25]:
name=input()
print(name[::-1])

for ch in range (len(name)-1,-1,-1):
    print(name[ch],end='')

medo
odem
odem

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [27]:
name='mohamedmahomud'
l=[]
for i in range(len(name)):
    l.append(name[i])
l

['m', 'o', 'h', 'a', 'm', 'e', 'd', 'm', 'a', 'h', 'o', 'm', 'u', 'd']

In [31]:
myd=dict()
for ch in l:
    myd[ch]=name.count(ch)
    
myd

{'m': 4, 'o': 2, 'h': 2, 'a': 2, 'e': 1, 'd': 2, 'u': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [32]:
name='aaffddccegg'
for ch in name:
    if name.count(ch)==1:
        print(ch)
        break

e

**19-Write a Python program to remove spaces from a given string

In [1]:
name=input()

name.replace(' ','')

mohamed mahmoud shawky

'mohamedmahmoudshawky'

**20-Write a Python program to count the number of non-empty substrings of a given string

In [33]:
name='ahmed'
str_len=len(name)
print(int(str_len * (str_len +1) / 2))

15

**21-write a Python program to swap first and last element of any list.

In [10]:
mylist=['ahmed','maro','karem','waled']
mylist[0],mylist[-1]=mylist[-1],mylist[0]
mylist

['waled', 'maro', 'karem', 'ahmed']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [3]:
mylist=[23, 65, 19, 90]
pos1=int(input())
pos2=int(input())
mylist[pos1-1],mylist[pos2-1]=mylist[pos2-1],mylist[pos1-1]
mylist

1
2

[65, 23, 19, 90]

**23- search for the all ways to know the length of the list

In [57]:
lista=[1,2,3,5,7,8,7,'kk',5,5,55]
len(lista)

11

In [58]:
counter=0
for i in lista:
    counter+=1
print(counter)

11

**24- write a Python code to find the Maximum number of list of numbers**

In [54]:
max([1,4,6,3,7,8,6])

8

**25-write a Python code to find the Minimum number of list of numbers.

In [55]:
min([1,4,6,3,7,8,6])

1

**26-search for if an elem is existing in list

In [2]:
mylist=['ahmed','1','3','2','5','ali']
elem=input()
if elem in mylist:
    print('yes')
else:
    print('no')

33
no

**27- clear python list using different ways

In [9]:
mylist=[1,2,3,4,5]
mylist.clear()

for i in range (len(mylist)):
    mylist.pop()
    
mylist

[]

**28-remove duplicated elements from a list

In [34]:
mylist=['ahmed','medo',1,3,4,2,1,4,'ahmed']
for word in mylist:
    if mylist.count(word)>1:
        mylist.remove(word)
print(mylist)

['medo', 3, 2, 1, 4, 'ahmed']

In [37]:
mylist=['ahmed','medo',1,3,4,2,1,4,'ahmed']
mylist=set(mylist)
mylist=list(mylist)
mylist

[1, 2, 3, 4, 'medo', 'ahmed']

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [43]:
keys=['name','age','salary']
values=['mohamed',21,3000]
d=dict()
counter=0
for i in keys:
    d[i]=values[counter]
    counter+=1
d

{'name': 'mohamed', 'age': 21, 'salary': 3000}

In [47]:
key_value_pairs = [{keys[i]: values[i]} for i in range(len(keys))]
key_value_pairs

[{'name': 'mohamed'}, {'age': 21}, {'salary': 3000}]

**30-write a python program to count unique values inside a list using different ways

In [49]:
mylist=[1,2,2,3,4,4,5,3,6,1,9]
mylist=set(mylist)
len(mylist)

7

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [14]:
mylist=[4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
out=[]
for i in mylist:
    if mylist.count(i)>3:
        if i not in out:
            out.append(i)            
out

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [79]:
mylist=[1,2,2,3,4,5]
arr=[]
for i in range(len(mylist)):
    if i == 0:
        arr.append(mylist[i+1])
    elif i == len(mylist)-1:
        continue
    else:
        arr.append(max(mylist[i-1],mylist[i+1]))
arr

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [51]:
l=[1,2,3]
for i in range(3):
    for j in range(3):
        for k in range(3):
            if (i!=j and j!=k and i!=k):
                print(l[i],l[j],l[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [53]:
list1=['a','b']
list2=[1,2]
myset=set()
for i in list1:
    for j in list2:
        myset.add((i,j))
myset

{('a', 1), ('a', 2), ('b', 1), ('b', 2)}

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [81]:
mylist=[1,1,2,3,4,5,1,2,1]
element=2
arr=[]
for i in mylist:
    if i != element:
        arr.append(i)
arr

[1, 1, 3, 4, 5, 1, 1]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [21]:
list1=['Gfg', 'is', 'best']
list2=[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
list3=[]
for num in list2:
    list3.append(list1[num])
print(list3)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}**

In [58]:
mydict= {'avi': 10, 'rajnish': 9, 'banjeev': 15, 'yash': 2, 'zuraj': 32}
sorted(mydict.values())
mydict=dict(sorted(mydict.items()))
mydict

{'avi': 10, 'banjeev': 15, 'rajnish': 9, 'yash': 2, 'zuraj': 32}

In [ ]:
# how i can sort it by values

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [35]:
mydict={'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 5}
mydict
print(list(mydict.keys()))

['Gfg', 'is', 'best', 'for', 'geeks']

In [37]:
for key in list(mydict.keys()):
    if mydict[key] >= 7:
        mydict.pop(key)
mydict

{'Gfg': 3, 'for': 6, 'geeks': 5}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [41]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [43]:
mydic={'c1':1,'c2':2,'c3':3}
for i in mydic:
    print(mydic[i])

1
2
3

**44- Write a Python script to merge two Python dictionaries

In [89]:
dict1 = {'c1':5 , 'c2': 6 , 'c3' : 100}
dict2= {'c4':4,'c5':50}
dict1.update(dict2)
dict1

{'c1': 5, 'c2': 6, 'c3': 100, 'c4': 4, 'c5': 50}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [47]:
dict = {'c1':5 , 'c2': 6 , 'c3' : 100}
print(max(dict))
print(min(dict))

c3
c1

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [63]:
my_dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}
new_dict=dict()
for k,v in my_dict.items():
    if v is not None:
        new_dict[k]=v
print(new_dict)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [4]:
listt=[]
for i in range (5):
    m=int(input())
    listt.append(m)
mytuple=tuple(listt)
print(mytuple)
print(mytuple[3])

1
2
3
44
5
(1, 2, 3, 44, 5)
44

In [1]:
mytuple=(1,2,3,4,5)

mytuple[0]

1

**48-Write a Python program to unpack a tuple into several variables

In [93]:
mytuple=(1,2,3,4,'hi')
for i in range (len(mytuple)):
    print(mytuple[i])

1
2
3
4
hi

In [94]:
tup = (1, 2, 3)
a, b, c = tup
print(a)
print(b)
print(c)

1
2
3

**49-Write a Python program to add an item to a tuple

In [61]:
mytuple=("ahmed",'marwan','kareem')
mytuple= mytuple + ('khaled',)
mytuple

('ahmed', 'marwan', 'kareem', 'khaled')

In [63]:
mytuple=list(mytuple)
mytuple.append('youseef')
mytuple=tuple(mytuple)
mytuple

('ahmed', 'marwan', 'kareem', 'khaled', 'youseef')

**50-Write a Python program to convert a tuple to a string

In [69]:
mytuple=('hi','mohamed')
mytuple=' '.join(mytuple) 
mytuple

'hi mohamed'

**51-Write a Python program to convert a list to a tuple

In [24]:
mylist=[1,2,3,4,5,6]
print(type(mylist))
mylist=tuple(mylist)
print(type(mylist))

<class 'list'>
<class 'tuple'>

**52-Write a Python program to reverse a tuple

In [26]:
mytuple=(1,2,3,4,5)
mytuple=list(mytuple)
mytuple.reverse()
mytuple=tuple(mytuple)
mytuple

(5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [55]:
mylist= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
ne=[]
for element in mylist:
    element=list(element)
    element[-1]=100
    element=tuple(element)
    ne.append(element)

ne

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [46]:
name=input()
l=[]
for ch in name:
    l.append(ch)
l=tuple(l)
l

python3.0

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

**56-Write a Python program to add member(s) to a set.

In [21]:
myset={'ahmed','karim','youseef','ali'}
myset.add('khaled')
myset.update(['me','him'])
myset

{'ahmed', 'ali', 'him', 'karim', 'khaled', 'me', 'youseef'}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [26]:
myset={'ahmed','karim','youseef','ali'}
myset.remove('ali')
myset.discard('karim') # doesn't give an error if there isn't the element
myset

{'ahmed', 'youseef'}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [32]:
set1={1,3,4,6}
set2={2,5,6}
print(set1.intersection(set2))
print(set1.union(set2))
print(set1.difference(set2))
set1.symmetric_difference(set2)

{6}
{1, 2, 3, 4, 5, 6}
{1, 3, 4}

{1, 2, 3, 4, 5}

**59-Write a Python program to find the maximum and minimum values in a set

In [48]:
myset={1,2,34,20,5,4,66,4,33}
print(max(myset))
min(myset)

66

1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [65]:
lista=[1,2,3,4,5,6,7,8,9,10]
target=12
new=[]
for i in range(len(lista)):
    for j in range (i+1,len(lista)):
        if lista[i]+lista[j]==target:
            new.append((lista[i],lista[j]))
            
new

[(2, 10), (3, 9), (4, 8), (5, 7)]

In [68]:
myllista=[1,2,3,4,5,6]
target=9
ll=[]
for i in range(len(myllista)):
    for j in range(i+1,len(myllista)):
        if myllista[i]+myllista[j]==target:
            ll.append((myllista[i],myllista[j]))
ll

[(3, 6), (4, 5)]